<h1>Battle</h1>

<h2>Players</h2>
<%= @player1.name %> vs. <%= @player2.name %>

<h2>Hit Points</h2>
<%= @player1.name %>: 100 Hit Points<br>
<%= @player2.name %>: 100 Hit Points

<form action="/attack" method="get">
  <input type="submit" value="Battle commence!"/>
</form>
