<h1>Battle</h1>

<h2>Players</h2>
<%= @player1_name %> vs. <%= @player2_name %>

<h2>Hit Points</h2>
<%= @player1_name %>: 100 Hit Points<br>
<%= @player2_name %>: 100 Hit Points

<form action="/commenced" method="get">
  <input type="submit" value="Battle commence!"/>
</form>
